<<<<<<< HEAD
.heading{
    font-family: Segoe UI;
    font-size: 20pt;
    margin:160px;
}


body{
    display: flex;
    height: 80vh;
    justify-content: center;
}

.converter{
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 1400px;
    align-items: center;
}

input {
    padding:8px;
    margin-bottom:10px;
    width:500px;
    height: 50px;
=======
.deskripsi{
    background-color: rgb(0, 170, 255);
    color:white;
    font-family:verdana;
    display:block;
    height: 150px;
    padding : 15px;
    font-size: 12pt;
}

.container{
    display: block;
    margin-top: 40px;
    font-family: segoe UI;
    border:1px solid black;
    padding:10px;
}

body{
    margin:0 auto;
    padding:20px;
    max-width: 600px;
    justify-content: center;
}

li{
    align-items: center;
}

h1{
    align-items: center;
    display: block;
    font-family: Segoe UI;
    color:rgb(69, 69, 69);
}

#berat{
    height:30px;
    width:550px;
    text-align: center;
}

#tinggi{
    height:30px;
    width:550px;
>>>>>>> 56bb16ba8f785a04550a72a70818e212cfaa6a0e
    text-align: center;
}

button{
<<<<<<< HEAD
    padding:8px;
    background-color: rgb(255, 238, 0);
    color: gray;
    border:none;
    border-radius:3px;
    cursor:pointer;
    height: 50px;
    width: 100px;
}

button:hover{
    background-color: rgb(255, 238, 0);
}

#hasil{
    margin-top:15px;
    display:block;
    font-size:15pt;
    background-color: rgb(0, 183, 255);
    color:white;
    align-items: center;
    font-style: italic;
    width :600px;
    margin-left: 400px;
}

label{
    display : block;
    margin-bottom : 50px;
    font-family : Segoe UI;
    font-size : 12pt;
=======
    padding:10px;
    margin-top:15px;
    background-color:rgb(0, 170, 255) ;
    color: white;
    border: none;
    border-radius: 10px;
    width:560px;
}

#hasil{
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 18pt;
>>>>>>> 56bb16ba8f785a04550a72a70818e212cfaa6a0e
}